* {
    margin: 0;
    margin-right: 3px;
    padding: 4px;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #f4f4fc;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.logo {
    width: 150px;
    height: 50px;
    padding-top: 10px;
    padding-left: 20px;
    position: absolute;
}

main {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;

}

.textoEncriptar{
    left: 200px;
    top: 2px;
    padding-left: 10%;
    width: 100%;
    height: 80%;
}

.cajatexto{
    width: 80%;
    height: 50%;
    border: none;
    background-color: #f4f4fc;
    cursor: pointer;
    color: #0a3871;
    font-size: 28px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.cajatexto::placeholder{
    color: #0a3871;
}

.especificaciones{
    position: relative;
    display: flex;
    padding: 8;
    color: #495057;
    font-size: 12px;
}


.especificaciones.animacion {
    animation: pulse 1.5s ease-in-out infinite;
    font-size: 20px;
    color: red;
}

@keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }


.botones{
    text-align: center;
    box-sizing: border-box;
    padding-left: 8%;
    justify-content:space-around;
    display:inline-block;
    
}

.boton-encriptar{
    
    width: 320px;
    height: 65px;
    border-radius: 24px;
    background-color: #0a3871;
    color: #f4f4fc;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.boton-encriptar:hover{
    font-size: 18px;
    background: linear-gradient(to left, #0a3871, #116cdb, #116cdb,  #0a3871);
}
.boton-desencriptar{
    
    width: 320px;
    height: 65px;
    border-radius: 24px;
    background-color: #f4f4fc;
    color: #0a3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border-color: #0a3871;
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.boton-desencriptar:hover{
    font-size: 18px;
    background: linear-gradient(to left,#a4fab4, #f4f4fc,#f4f4fc, #a4fab4);
}

.section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    
}

.sec1 {
    margin-top: 5%;
    flex-basis: 100%;
    box-sizing: border-box;
    justify-content: center;
    height: 80vh;
}

.sec2 {
    display: grid;
    top: 0;
    width: 60vh;
    height: 95vh;
    background-color: #ffffff;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.50);
    justify-content: center;
    align-items: center;
    box-sizing:border-box;
    margin-right: 4%;
}

/* desktop 1032 Tablet 768 mobile 375 */

@media (max-width: 768px) and (min-width: 376px) {
    body {
        background-color: #f4f4fc;
    }
    .sec1{
        width: 100%;
        padding-top: 10%;
        height: 70%;
        
        display:inline-block;
    }
    .sec2{
        margin-top: 4%;
        width: 98%;
        height: 50vh;
        justify-content: space-around;
        align-content: space-around;
    }

    main{
        flex-direction: column;
        justify-content: space-between;
    }
    
    .logo {
        width: 25%;
        height: 10%;
        padding-top: 0px;
        padding-left: 0px;
        position:absolute;
        top: 0;
        left: 0;
    }
    .cajatexto{
        width: 100%;
        height: 100%;
    }
    
    .textoEncriptar{
        padding-left: 0%;
        align-content: start;
        margin-left: 2px;
        width: 100%;
        height: 70%;
        
    }
    .botones{
        height: 10%;
        display: block;
    }
    .boton-desencriptar,.boton-encriptar{
        width: 40%;
        position:sticky;
        justify-content: space-between;

    }
    .searchImage{
        display: none;
    }
    .textoEncriptado{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between center;
        height: 90%;
        margin-top: 20%;
        
    }
    .copiar{
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .boton_copiar{
        flex-wrap: wrap;
        text-align: center;
        width: 800px;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 375px) {

    .sec1{
        padding-top: 10%;
        height: 70%;
        box-sizing: border-box;
    }
    .sec2{
        width: 100%;
        padding: 0%;
        text-align: center;
        height: 40vh;
    }

    main{
        flex-direction: column;
        justify-content: space-between;
    }
    
    .logo {
        width: 25%;
        height: 10%;
        padding-top: 0px;
        padding-left: 0px;
        position:absolute;
        top: 0;
        left: 0;
    }
    .cajatexto{
        width: 100%;
        height: 100%;
    }
    
    .textoEncriptar{
        padding-left: 0%;
        align-content: start;
        margin-left: 2px;
        width: 100%;
        height: 20%;
        
    }

    .boton-desencriptar,.boton-encriptar{
        width:100%;
        
        margin-top: 5%;
    }

    .botones{
        height: 10%;
        width: 100%;
    }
    .searchImage{
        display: none;
    }
    .copiar{
        
        width: 100%;
        margin-bottom: 10%;
        
        
        flex-wrap: wrap;
        
    }
    .boton_copiar{
        
        text-align: center;
        
        
    }
}

.searchImage {
    text-align: center;
    box-sizing: border-box;
    padding-top: 50px;
}

.mono{
    width: 100%;
}

.textoEncriptado {
    box-sizing: border-box;
    padding-top: 5px;
}

.textoEncriptado h3 {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #343a40;
}

.textoEncriptado p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #495057;
    
}

.resultado {
    font-size: 26px;
    width: 90%;
    height: 10% auto;
    position:relative;
    text-align: center;
    padding: 5%;;
}

.texto_resultado {
    color: 495057;
    font-size: 24px;

}

.copiar {
    text-align: center;
    align-items: center;
    padding-left: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.boton_copiar {
    display: none;
    width: 35vh;
    height: 65px;
    border-radius: 24px;
    background: #f4f4fc;
    color: #0a3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border-color: #0a3871;
    cursor: pointer;
    position: inherit;
}
.boton_copiar:hover{
    font-size: 18px;
    background: linear-gradient(to right, #fbf8a6, #f4f4fc,#f4f4fc, #fbf8a6);
}

.ocultar {
    display: none;
}
.mostrar{
    display:block;
    text-align: center;
    align-items: center;
}